*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  h1{
    color: royalblue;
  }
  
  nav{
    display: flex;
    background-color: rgb(26, 51, 116);
    height: 50px;
  }
  
  nav > svg {
    display: none;
  }
  
  nav > ul {
    display: flex;
  }
  
  nav > ul > li, nav a{
    color:whitesmoke;
    padding: 15px;
  }
  
  #menu-button{
    color: white;
    font-size: 40px;
    display: none;
  }
  
  .error{
    color: red;
    font-size: 0.9em;
  }

  form{
    background-color: rgb(213, 213, 213);
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
  }

  input{
    margin: 0.5em 0;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
  }

  input:focus{
    outline: none;
  }

  button{
    background-color: rgb(26, 51, 116);
    padding: 0.3em;
    min-width: 100px;
    color: whitesmoke;
    border-radius: 0.5em;
    margin: 0.5em 0;
  }

  .inputError{
    border:  1px solid red;
  }

  .profil-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #avatar{
    width: 100%;
    max-width: 200px;
    border-radius: 100%;
    border: 1px solid rgb(26, 51, 116);
  }
  /* ctrl  + F5 */
  /* hot raload */
  
  @media (max-width:600px){
    nav > svg{
      display: block;
      fill: white;
      width: 25px;
    }
    
    #menu-button{
      display: initial;
    }

    nav > ul{
      flex-direction: column;
      position: absolute;
      background-color: rgb(68, 83, 130);
      top:50px;
      min-width: 50%;
      min-height: 100vh;
     
      transition: all .2s ease-in-out ;
    }
  }